<form #emailForm="ngForm">
  <input
    type="email"
    name="email"
    required
    pattern=".+@.+\..+"
    [(ngModel)]="email"
    #emailControl="ngModel"
  />
  <ng-container *ngIf="emailControl.invalid && emailControl.touched">
    <div *ngIf="emailControl.errors.required">
      You must enter an email
    </div>
    <div *ngIf="emailControl.errors.pattern">
      Please enter a valid email
    </div>
  </ng-container>
</form>

<!-- debugging -->
<hr />
<div>is form valid: {{ emailForm.valid }}</div>
<div>form values: {{ emailForm.value | json }}</div>
<div> email validation errors: {{ emailForm.controls.email.errors | json }}</div>