<div class="container">
  <form
    #emailForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="field">
      <label class="label">Enter Email</label>
      <input
        type="email"
        name="email"
        required
        pattern=".+@.+\..+"
        [(ngModel)]="email"
        #emailControl="ngModel"
        [ngClass]="{ 'is-danger': emailControl.invalid && emailControl.touched }"
      />
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div *ngIf="emailControl.errors.required" class="help is-danger">
          You must enter an email
        </div>
        <div *ngIf="emailControl.errors.pattern" class="help is-danger">
          Please enter a valid email
        </div>
      </ng-container>
    </div>
    <button [disabled]="emailForm.invalid" class="button is-primary">
      Submit
    </button>
  </form>
</div>

<!-- debugging -->
<hr />
<div>is form valid: {{ emailForm.valid }}</div>
<div>form values: {{ emailForm.value | json }}</div>
<div> email validation errors: {{ emailForm.controls.email.errors | json }}</div>