<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input
        (input)="onNameChange($event.target.value)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input
        (input)="onDateChange($event.target.value)"
        class="form-control"
        type="date"
      />
    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
      <div>
        {{ date | date: "MMMM d, y" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input
        (input)="onAmountChange($event.target.value)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label><b>Payment Amount</b></label>
      <div>
        {{ amount | currency: "JPY" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input (input)="onHeightChange($event.target.value)" class="form-control" />
    </div>
    <div class="col">
      <label><b>Height</b></label>
      <div>
        {{ height | number: "1.0-0" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input (input)="onMilesChange($event.target.value)" class="form-control" />
    </div>
    <div class="col">
      <label><b>Kilometeres</b></label>
      <div *ngIf="(miles | convert: 'km') > 10">
        {{ miles | convert: "m" }}
      </div>
    </div>
  </div>
</div>

{{ car | json }}